.navbar{
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#navbar-brand{
  color: black;
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: 600;
}
.br {
  color: #D35400;
}
.navbar-toggler{
    background-color: #D35400;
    color: black;
}
.navs{
  color: #3C1874;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
.dropdown-item{
  color: white;
  font-family: 'Merriweather', serif;
}
.nav-item a:hover{
  color:#3C1874;
}
#gits{
  border-color: #3C1874;
}
#gits:hover{
  border-color: #3C1874;
  background-color: #3C1874;
}
.dropdown-menu{
  background:black;
}
.d-flex{
  margin-left: 40px;
}
.hero{
  height:100vh;
  width:100%;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#overs{
  display: none;
}
@media screen and (min-width:480px) and (max-width: 767px){
  .scroll-down{
      top: 10vh;
  }
  .hero-header h2{
      font-size: 40px;
  }
}
.hero-header{
  margin-top: 180px;
}
.hero-header h2{
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 50px;
  font-weight: 900;
}
.hero-header p{
  color: white;
  font-size: 17px;
  font-weight: 300;
}
.hero-header img{
  width: 40%;
}
.hero-head{
  color:#D35400;
}

.more{
  margin-top: 20px;
}
#btns{
  background-color: #E67E22;
  padding: 10px 30px;
  border: 5px solid #E67E22;
  font-size: 15px;
  border-radius: 20px;
  font-weight: 700;
}
#btns:hover{
  background-color: black;
  border-color: #229954;
  color: white;
}