{% extends 'all-images/base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            {% for my_album in my_album %}
            <a href="{% url 'singleImage' 1 %}">
              <img src="{{my_album.image.url}}" class="img-responsive" alt="Image">
            </a>
            <div class="card">
                
                
                <div class="card-body">
                    {{my_album.image_name}}  
                    <p>{{my_album.post_date}}</p> 
                    <p>{{my_album.id}}</p>                 
                </div>
            </div>
            {% empty %}
            <h3>NOTHING</h3>
            {% endfor %}
        </div>
 
    </div>
</div>
{% endblock %}