{% extends 'all-images/base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% for photo in photos %}
            <a href="{% url 'singleImage' photo.id %}">
              <div class="card">
                <img src="{{photo.image.url}}" class="card-img-top">
                <div class="card-body">
                  <p class="card-text">{{photo.name}}</p>
                  <p>{{photo.category.name}}</p> 
                </div>
              </div>
            </a>
            {% empty %}
            <h3>NOTHING</h3>
            {% endfor %}
        </div>
 
    </div>
</div>
<div class="lightbox">
  <div class="row">
    <div class="col-lg-6">
      <img
        src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
        data-mdb-img="https://mdbootstrap.com/img/Photos/Slides/1.jpg"
        alt="Lightbox image 1"
        class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
      />
      <img
        src="https://mdbootstrap.com/img/Photos/Thumbnails/Square/1.jpg"
        data-mdb-img="https://mdbootstrap.com/img/Photos/Square/1.jpg"
        alt="Lightbox image 2"
        class="w-100 shadow-1-strong rounded"
      />
    </div>
    <div class="col-lg-6">
      <img
        src="https://mdbootstrap.com/img/Photos/Thumbnails/Vertical/1.jpg"
        data-mdb-img="https://mdbootstrap.com/img/Photos/Vertical/1.jpg"
        alt="Lightbox image 3"
        class="w-100 shadow-1-strong rounded"
      />
    </div>
  </div>
</div>
{% endblock %}