{% extends 'all-images/base.html' %}

{% block content %}
{{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            {% for photo in photos %}
            <a href="{% url 'singleImage' 1 %}"></a>
              <img src="{{photo.image.url}}" class="img-responsive" alt="Image">
            </a>
            <div class="card">
                
                
                <div class="card-body">
                    {{photo.image_name}}  
                    <p>{{photo.category.name}}</p>                
                </div>
            </div>
            {% empty %}
            <h3>NOTHING</h3>
            {% endfor %}
        </div>
 
    </div>
</div>
<div class="container">
  <div class="row">
    <h3>Categories</h3>
      <div class="col-md-5">
          {% for category in categories %}
          
          <div class="card">
     
                  <p>{{category.name}}</p> 
          
          {% endfor %}
      </div>

  </div>
</div>
{% endblock %}