{% extends 'all-images/base.html' %}

{% block content %}
    {{block.super}}
    <section class="single">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-3">
              <img src="{{photo.image.url}}" class="card-img-top" height="500px" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{photo.name}}</h5>
                <p class="card-text">{{photo.description}}</p>
                <p class="card-text" id="text"><small class="text-muted"><span class="br">Last updated</span> {{photo.post_date}}</small></p>
                <p class="card-text"id="texts"><small class="text-muted"><span class="br">Location</span> {{photo.location.location}}</small></p>
                <p class="card-text"id="texts"><small class="text-muted"><span class="br">Category</span> {{photo.category.name}}</small></p>
                <form action="">
                  <input type="text" value="{{showurl}}" id="myInput" readonly>
                  <button type="button" id="gits2" onclick="Hello()" class="btn btn-outline-success" >Copy Image Url</button>
                  <a class="btn btn-outline-dark" href="{% url 'allImages' %}" style="float:right;margin-top: 7px;">Close</a>
              </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
   <script>
  function Hello() {
  var copyText = document.getElementById('myInput')
  copyText.select();
  document.execCommand('copy')
  console.log('Copied Text')
}
</script>
{% endblock %}