{% extends 'all-images/base.html' %}

{% block content %}
    {{block.super}}
    <a class="btn btn-outline-dark" href="{% url 'allImages' %}">GO back</a>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                  <div class="card">
                    <img src="{{photo.image.url}}" class="card-img-top">
                    <div class="card-body">
                      <p class="card-text">{{photo.name}}</p>
                      <p>{{photo.description}}</p> 
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <form action="">
        <input type="text" value="{{showurl}}" id="myInput">
        <button type="button" onclick="Hello()" class="btn btn-primary">Copy Url</button>
    </form>

<script>
  function Hello() {
  var copyText = document.getElementById('myInput')
  copyText.select();
  document.execCommand('copy')
  console.log('Copied Text')
}
</script>
{% endblock %}